div.row>input[type="text"] {
	padding-bottom: 10px !important;
}

span.episode {
	font-style: italic;
	padding-left:0.5em;
	color:#999999;
}

img.pb.left {
	background: url(images/pb_left.png) left center no-repeat;
	margin-left: 5px;
}

img.pb.right {
	background: url(images/pb_right.png) right center no-repeat;
	margin-right: 5px;
}

img.pb {
	margin: 4px 0px;
	padding: 0px;
	vertical-align: middle;
}

div.current {
	padding-left: 75px;
}

input#searchText {
	padding: 6px;
	width: 99%;
	margin-top: 2px;
}

span.chno {
	border: 1px solid #385487;
	color: #385487;
	font-size: 12px;
	vertical-align: middle;
	padding: 1px 5px;
	margin-right: 6px;
}

.round {
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	-khtml-border-radius: 20px; /* Konqueror */
	border-radius: 20px; /* CSS3 */
}

body>ul>li>a>img {
	padding: 0px;
	margin: 0px 5px 0px 0px;
}

body>ul>li.group {
	background-color: #385487;
}

div.small {
	font-size: 12px;
	font-weight: normal;
}

div.padleft {
	padding-left: 22px;
}

p.description { /*text-align:justify;*/
	
}

a.more {
	text-align: center;
	color: #999999;
	background: transparent;
}

a.live {
	text-align:center;
	font-style:italic;
}

a.inactive {
	color: #999999;
}

body>ul.selector>li>a {
	background: transparent;
}

body>ul.selector>li.selected>a {
	background: url("images/tick.png") no-repeat scroll right center transparent;
	color: #385487;
}

.panel>h1 {
	color: #4D4D70;
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 4px 4px;
	text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.75);
}