body {
	background-color: white;
}

div#logos {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: white;
    box-shadow: 3px 3px 5px #666;
    -webkit-box-shadow: 3px 3px 5px #666;
    width: 70px;
    z-index: 6;
}

div.ct_16 { background-color: #e0e0e0!important; }
div.ct_16 div.bgimage{ background:url(images/movies.png) no-repeat right top; }
div.ct_32 { background-color: #EFE8AD!important; }
div.ct_32 div.bgimage {  background:url(images/news.png) no-repeat right top; }
div.ct_48 { background-color: #C6B5DE!important; }
div.ct_48 div.bgimage{ background:url(images/show.png) no-repeat right top; }
div.ct_64 { background-color: #FFFF6B!important; }
div.ct_64 div.bgimage {  background:url(images/sports.png) no-repeat right top; }
div.ct_80 { background-color: #FFCE9C!important; }
div.ct_80 div.bgimage{ background:url(images/children.png) no-repeat right top; }
div.ct_96 { background-color: #94D639!important; }
div.ct_96 div.bgimage{ background:url(images/music.png) no-repeat right top; }
div.ct_112 { background-color: #F7BDDE!important; }
div.ct_112 div.bgimage {  background:url(images/arts.png) no-repeat right top; }
div.ct_128 { background-color: #94D6CE!important; }
div.ct_128 div.bgimage{ background:url(images/social.png) no-repeat right top; }
div.ct_144 { background-color: #BDC6DE!important; }
div.ct_144 div.bgimage{ background:url(images/science.png) no-repeat right top; }
div.ct_160 { background-color: #FFC6A5!important; }
div.ct_160 div.bgimage {  background:url(images/hobbies.png) no-repeat right top; }
div.ct_178 { background-color: #A5DE94!important; }
div.ct_178 div.bgimage {  background:url(images/special.png) no-repeat right top; }

div#timeline {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 12px;
	font-size: 10px;
	font-family: Arial;
	font-weight: normal;
	z-index: 4;
}

div.channelinfo {
	position: absolute;
	z-index: 8;
	box-shadow: 3px 3px 5px #666;
	-webkit-box-shadow: 3px 3px 5px #666;
	display: none;
	min-width: 300px;
	background-color: white;
	font-family: Arial;
	border-radius: 5px;
	color: #666;
	border:1px solid #666;
}

div.channelinfo > div.right > h1 {
	font-size: 12pt;
	margin-bottom: 5px;
}

div.channelinfo {
	text-shadow: 1px 1px 0px #ccc;
}

div.channelinfo > div.left {
	position: absolute;
	left: 0px;
	top: 60px;
	width:75px;
	text-align:center;
}

div.channelinfo > div.right {
	margin-left:80px;
}

div.channelinfo > a.back {
	position: absolute;
	left: 10px;
	top: 140px;
}

div.left img.back {
	margin-top:30px;
}

span.chno {
	border: 1px solid #385487;
	background-color:white;
	color: #385487;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	padding: 1px 5px;
	margin-right: 6px;
}

.round {
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	-khtml-border-radius: 20px; /* Konqueror */
	border-radius: 20px; /* CSS3 */
}

div#timeline > div {
	background-color: white;
	border: 1px solid #999;
	position: absolute;
	top: 0px;
	height: 12px;
	box-shadow: 3px 3px 5px #666;
	-webkit-box-shadow: 3px 3px 5px #666;
}

div#current {
	border-left: 1px solid red;
	top: 0px;
	position: absolute;
	left: -1px;
	height: 0px;
	z-index: 5;
	box-shadow: 3px 3px 3px #000;
}

p.tmdb {
	display: none;
	margin: 0px;
	text-align: center;
	padding:5px;
}

div.box {
	position: absolute;
	background: #ccc url('images/gradient.png') repeat-y right top;
	background-size: 100% auto;
	border-radius: 5px;
	font-family: Arial;
	font-size: 10pt;
	z-index: 1;
	overflow: hidden;
	color: #666;
	cursor: pointer;
	box-shadow: 1px 1px 1.5px #999;
}

div.box div {
  border-radius: 5px;
}

div.box.backdrop {
  background-size: cover;
	background-position: left top;
}

div.box div.head {
	height: 50px;
}

div.box.big div.head {
	height: auto;
}

div.box h1 {
	margin: 0px 2px;
	font-size: 12pt;
}

div.box {
	text-shadow: 1px 1px 0px #fff;
}

div.scheduled h1 {
	background: url('../icons/clock.png') no-repeat left top;
	padding-left: 18px;
}

div.recording h1 {
	background: url('../icons/rec.png') no-repeat left top;
	padding-left: 18px;
}
div.poster {
	float:right;
}
div.poster img {
	box-shadow:3px 3px 5px #666;
	-webkit-box-shadow:3px 3px 5px #666;
	margin:2px 10px;
}

div.box div.add > form.record > input,
div.box div.add > form.record > select,
div.box div.add > form.cancel > input,
div.channelinfo select,
div.channelinfo button
	{
	min-width: 200px;
}

div.box.backdrop  div.gradient {
	background:url(images/white75.png);
}

div.box div.add > form {
	padding: 5px;
}
div.box div.add > p {
	padding: 2px;
}

div.box div.add > p.channel {
	font-style: italic;
}

div.box div.add > form.cancel {
	display: none;
	text-align: center;
}

div.box div.add > form.record {
	text-align: center;
}

div.scheduled div.add > form.cancel,
div.recording div.add > form.cancel {
	display: block;
}

div.scheduled div.add > form.record,
div.recording div.add > form.record {
	display: none;
}

div.box h2,
div.channelinfo h2 {
	margin: 0px 2px;
	font-size: 10pt;
}

div.box div.add > h3 {
	margin: 1px 2px;
	font-size: 10pt;
	text-align: right;
}

div.box.big {
	height: auto !important;
	z-index: 10;
	box-shadow: 3px 3px 5px #666;
	-webkit-box-shadow: 3px 3px 5px #666;
	min-width: 300px;
	min-height: 60px;
	color: #333;
}

div.box div.add {
	padding-top: 5px;
	display: none;
}

div.box.big div.add {
	display: block;
}

img.channel,
div.channel {
	position: absolute;
	z-index: 7;
	cursor:pointer;
    max-height: 50px;
    max-width: 70px;
	height: auto;
    width: auto;
}

div.channel {
	font-family: Arial;
	text-shadow: 1px 1px 0px #ccc;
}