body {
	background-color: white;
}

div#logos {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: white;
    box-shadow: 3px 3px 5px #666;
    -webkit-box-shadow: 3px 3px 5px #666;
    width: 70px;
    z-index: 6;
}

div#timeline {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 12px;
	font-size: 10px;
	font-family: Arial;
	font-weight: normal;
	z-index: 4;
}

div.channelinfo {
	position: absolute;
	z-index: 8;
	box-shadow: 3px 3px 5px #666;
	-webkit-box-shadow: 3px 3px 5px #666;
	display: none;
	min-width: 300px;
	background-color: white;
	font-family: Arial;
	border-radius: 5px;
	color: #666;
	padding-left:80px;
}

div.channelinfo > h1 {
	font-size: 12pt;
	text-shadow: 1px 1px 0px #ccc;
	margin-bottom: 5px;
}

div#timeline > div {
	background-color: white;
	border: 1px solid #999;
	position: absolute;
	top: 0px;
	height: 12px;
	box-shadow: 3px 3px 5px #666;
	-webkit-box-shadow: 3px 3px 5px #666;
}

div#current {
	border-left: 1px solid red;
	top: 0px;
	position: absolute;
	left: -1px;
	height: 0px;
	z-index: 5;
}

p.tmdb {
	display: none;
	margin: 0px;
	text-align: center;
	padding:5px;
}

div.box {
	position: absolute;
	background: #ccc url('images/gradient.png') repeat-y right top;
	background-size: 100% auto;
	border-radius: 5px;
	font-family: Arial;
	font-size: 10pt;
	z-index: 1;
	overflow: hidden;
	color: #666;
	cursor: pointer;
}

div.box.backdrop {
	background-size: cover;
	background-position: left top;
}

div.box > div.head {
	height: 50px;
}

div.box.big > div.head {
	height: auto;
}

div.box h1 {
	margin: 0px 2px;
	font-size: 12pt;
	text-shadow: 1px 1px 0px #fff;
}

div.scheduled h1 {
	background: url('../icons/clock.png') no-repeat left top;
	padding-left: 18px;
}

div.recording h1 {
	background: url('../icons/rec.png') no-repeat left top;
	padding-left: 18px;
}
div.poster {
	float:right;
}
div.poster img {
	box-shadow:3px 3px 5px #666;
	-webkit-box-shadow:3px 3px 5px #666;
	margin:2px 10px;
}

div.box > div.add > form.record > input,
div.box > div.add > form.record > select,
div.box > div.add > form.cancel > input,
div.channelinfo select,
div.channelinfo button
	{
	min-width: 200px;
}

div.box.backdrop > div {
	background:url(images/white75.png);
}

div.box > div.add > form {
	padding: 5px;
}
div.box > div.add > p {
	padding: 2px;
}

div.box > div.add > p.channel {
	font-style: italic;
}

div.box > div.add > form.cancel {
	display: none;
	text-align: center;
}

div.box > div.add > form.record {
	text-align: center;
}

div.scheduled > div.add > form.cancel,
div.recording > div.add > form.cancel {
	display: block;
}

div.scheduled > div.add > form.record,
div.recording > div.add > form.record {
	display: none;
}

div.box h2,
div.channelinfo h2 {
	margin: 0px 2px;
	font-size: 10pt;
}

div.box > div.add > h3 {
	margin: 1px 2px;
	font-size: 10pt;
	text-align: right;
}

div.box.big {
	height: auto !important;
	z-index: 10;
	box-shadow: 3px 3px 5px #666;
	-webkit-box-shadow: 3px 3px 5px #666;
	min-width: 300px;
	min-height: 60px;
}

div.box > div.add {
	padding-top: 5px;
	display: none;
}

div.box.big > div.add {
	display: block;
}

img.channel {
	position: absolute;
	z-index: 7;
	cursor:pointer;
    max-height: 50px;
    max-width: 70px;
	height: auto;
    width: auto;
}